body{
    text-align: center;
}

#title{
    background-image: url(image1.jpg);
    background-size: cover;
    height: 582px; 
}

.big-heading{   
    margin-left: 35px;
    margin-top: 70px;
    font-size: 3.5em;
    line-height: 1.25;
    font-weight: 800;
    color: azure;
}

.heading-para{
    color: azure;
    margin-left: 40px;
    margin-top: 30px;
}
.container-fluid{
    padding:10% 5% 15% 50%;

}

.btn-title{
    margin-top: 15px;
    margin-left: 40px;
}

/* pakages */
